/* div {
    border: 1px dotted black;
} */

.list-grid {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 30px;
}

/* Home Page */
.home-header {
    width: 100%;
    height: 500px;
    position: relative;
    text-align: center;
}

.home-header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
    display: block;
}

.home-header-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

/* Travel List Page */

.travel-card-content {
    width: 400px;
    height: 600px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.travel-card-img, .travel-card-text {
    height: 300px;
}

.travel-img {
    width: 100%;
    height: 100%;
}

.travel-card-text {
    padding: 5px 10px;
}

/* Travel Detail Page */

.detail-header {
    width: 100%;
    height: 400px;
    position: relative;
    text-align: center;
}

.detail-header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
    display: block;
}

.detail-header-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.itinerary-card-content {
    margin: 0 0 20px 0;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.detail-itinerary-add {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.detail-itinerary-add a{
    text-decoration: none;
}

/* table {
    width: 100%;
}

table, th, td {
    border: 2px solid gray;
    border-collapse: collapse;
    padding: 0 5px;
}

th {
    height: 30px;
}

td {
    vertical-align: top;
}

.detail-itinerary-edit-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
    gap: 5px;
} */

/* Destination List Page */

.destination-card-content {
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.destination-card-img {
    height: 300px;
}

.destination-img {
    width: 100%;
    height: 100%;
}

.destination-card-text {
    padding: 5px 10px;
}

/* Destination Detail Page */
.destination-detail-header {
    width: 100%;
    height: 400px;
}

.destination-detail-header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
