@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Rubik:ital,wght@0,400;0,500;1,700&family=Ubuntu&display=swap');

body {
    /* font-family: 'Rubik', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Ubuntu', sans-serif;
    margin: 5px 50px;
}

p {
    color: #44545E;
}

/* -------------
Navbar
---------------- */

main {
    padding: 60px 30px;
}

nav {
    padding: 20px 10px;
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
    margin: 0 40px;
	background-color: white;
	z-index: 100;
    text-align: center;
}

.logo {
    margin-left: 0px;
    font-size: 23px;
    color: black;
    padding-left: 0;
    font-weight: 700;
    /* font-style: italic; */
    /* letter-spacing: -1px; */
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Ubuntu', sans-serif;

}

.nav-left {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-center {
    float: center;
    margin-bottom: 0;
}

.nav-right {
    float: right;
}

nav a {
    text-decoration: none;
    color: #7B98AA;
	letter-spacing: 0.75px;
	letter-spacing: .05rem;
	padding: 3px 30px;
	padding: .2rem 2rem;
	text-transform: uppercase;
    font-weight: 400;
}

nav a:hover {
	color: #44545E;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: -25px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: -25px;
}

.dropdown-btn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: #44545E;
    padding: 12px 6px;
    margin-top: 26px;
    z-index: 11;
}

.dropdown-content a {
    font-size: 15px;
    display: inline;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pagetop-nav {
    position: fixed;
    width: 100%;
    top: 60px;
    z-index: 10;
    background-color: white;
    margin: 0 0 10px 0;
    padding: 20px 0;
}

.pagetop-nav a {
    color: #44545E;
    text-decoration: none;
}

.pagetop-nav a:hover {
    text-decoration: underline;
}

/* -------------
Home Page 
---------------- */
.home-header {
    width: 100%;
    height: 500px;
    position: relative;
    text-align: center;
}

.home-header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
    display: block;
}

.home-header-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color : white;
}

.home-header-text h1 {
    font-size: 40px;
}

.home-header-text h2 {
    font-size: 25px;
}

.home-startplan-btn {
    border: none;
    border-radius: 25px;
    padding: 15px;
    background-color: #CFF2F6;
    color: #44545E;
    font-size: 15px;
    margin-top: 10px;
}

.home-startplan-btn:hover {
    transform : scale(1.2);
    background-color: white;
}

.home-list {
    margin: 100px 100px;
}

.home-list-header {
    text-align: center;
    margin: 30px auto;
    color: #44545E;
    display: flex;
    flex-direction: column;
    align-items: center
}

.home-list-header a{
    color: #44545E;
    align-self: flex-end;
}

.home-list-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.home-destination-card-content {
    min-width: 225px;
    max-width: 300px;
    aspect-ratio: 1 /1;
    height: 360px;
    /* background-color: white; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-destination-card-content a {
    text-decoration: none;
    color: #44545E; 
}

.home-destination-card-img {
    aspect-ratio: 1 /1;
}

.home-destination-img {
    width: 100%;
    height: 100%;
}

.home-destination-card-text {
    padding: 0 10px;
}

.home-travel-card-content {
    min-width: 225px;
    max-width: 300px;
    aspect-ratio: 1 /1;
    height: 380px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-travel-card-content a {
    text-decoration: none;
    color: #44545E;
}

.home-travel-card-img {
    aspect-ratio: 1 /1;
}

.home-travel-img {
    width: 100%;
    height: 100%;
}

.home-travel-card-text {
    padding: 0 10px;
}

@media (max-width:1023px) {
    .home-header {
        height: 400px;
    }

    .home-header-text {
        left: 50%;
    }

    .home-list {
        margin: 100px 50px;
    }
}

@media (max-width:950px) {
    body {
        margin: 5px 0px;
    }

    main {
        padding: 50px 0px;
    }

    nav {
        margin: 0;
    }

    .home-header {
        height: 300px;
    }

    .home-header-text {
        left: 50%;
    }

    .home-header-text h1 {
        font-size: 30px;
    }

    .home-header-text h2 {
        font-size: 20px;
    }

    .home-list {
        margin: 80px 10px;
    }
    .home-list-flex {
        justify-content: center;
    }

    .home-travel-card-content {
        min-width: 250px;

    }
}

@media (max-width:899px) {
    .home-list-flex {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* -------------
List Page Flexbox
---------------- */

.list-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:5px;
}

.list-flex-nav {
    width: 15%;
    margin-top: 60px;
    position: fixed;
    /* padding: 10px 5px 10px 10px;
    border-radius: 5px; */
}

.list-flex-nav-top {
    /* background-color: #CFF2F650; */
    padding: 10px 5px 10px 10px;
    border-radius: 5px;
}

.list-flex-nav h1 {
    margin-bottom: 5px;
    color: #44545E;
}

.list-flex-nav a {
    color: #44545E;
}

.tag-ul li {
    display: inline;
    background-color: #7B98AA40;
    border-radius: 5px;
    padding: 2px 4px;
    font-size: 15px;
    line-height: 200%;
}

li.active {
    font-weight: bold;
    background-color: #7B98AA80;
}

.add-btn {
    background-color: #44545E;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
}

.search-travel-input input{
    border: none;
    border-radius: 3px;
    margin: 10px auto;
    height: 20px;
    border: 1px solid #7B98AA50;
}

.list-flex-nav-category ul {
    list-style: none;
    padding-left: 0;
}

.list-flex-nav-category li {
    margin-bottom: 8px;
}

.list-flex-nav-category a {
    text-decoration: none;
}

.list-content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 15%;
    margin-top: 60px;
}

.list-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
}

.travel-list-content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 15%;
    margin-top: 60px;
    padding-right: 200px;
}

.travel-list-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
}

/* -------------
Destination List Page 
---------------- */

.destination-card-content {
    min-width: 300px;
    max-width: 300px;
    height: 400px;
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.destination-card-content a {
    text-decoration: none;
    color: #44545E; 
}

.destination-card-img {
    height: 300px;
}

.destination-img {
    width: 100%;
    height: 100%;
}

.destination-card-text {
    padding: 0 10px;
}

/* -------------
Travel List Page 
---------------- */

.travel-card-content {
    min-width: 300px;
    max-width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.travel-card-content a {
    text-decoration: none;
    color: #44545E;
}

.travel-card-img {
    height: 300px;
}

.travel-img {
    width: 100%;
    height: 100%;
}

.travel-card-text {
    padding: 0 10px;
}

.list-travelers {
    width: 10%;
    margin-top: 80px;
    border: 1px solid #44545E50;
    border-radius: 10px;
    height: fit-content;
    position: fixed;
    right: 80px;
    padding: 0 5px;
}

.list-travelers-top {
    padding: 10px 5px 10px 10px;
}

.list-travelers a {
    text-decoration: none;
    color: #44545E;
}

.travelers-card {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.travelers-card a{
    margin-left: 5px;
}
/* -------------
Profile Page 
---------------- */

.profile-page-profile-image {
    width: 150px;
    height: 150px;
    background-color: #CFF2F6;
    border-radius: 75px;

}

.profile-travel-card-content {
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    background-color: white;
}


.travel-card-img {
    position: relative;
    text-align: center;
}

.profile-travel-card-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-travel-card-text h2 {
    color: white;
}

.profile-travel-card-content:hover .profile-travel-card-text {
    display: block;
}

.profile-travel-card-content:hover .travel-img {
    opacity: 0.8;
}

.edit-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin: 15px 0;
}

.edit-profile img {
    opacity: 0.7;
    width: 20px;
    margin-right: 3px;
}

/* -------------
Destination Detail Page 
---------------- */

.destination-detail-header {
    width: 100%;
    height: 400px;
    margin-top: 60px;
}

.destination-detail-header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.destination-travel-list {
    display: flex;
    flex-direction: row;
}

/* -------------
Travel Detail Page 
---------------- */

.detail-header {
    width: 100%;
    height: 400px;
    position: relative;
    text-align: center;
    margin-top: 60px;
}

.detail-header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    /* margin: auto;
    display: block; */
}

.detail-header-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.travel-edit-delete-btn {
    border: 2px solid #44545E;
    border-radius: 20px;
    width: 100px;
    padding: 5px;
    background-color: white;
    color: #44545E;
    margin: auto 5px;
}

.detail-section {
    margin: 30px 50px;
}

.detail-section h2, h3, p {
    color: #44545E;
}

.detail-content p, li {
    font-size: 19px;
    color: #44545E;
}

.checklists {
    display: flex;
    flex-direction: column;
}

.checklist-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.checklist-card-content {
    width: 30%;
    background-color: #CFF2F6;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.checklist-card-content h4 {
    color: #44545E;
    text-align: center;
}

.travel-detail-checklist p {
    margin: 4px 10px;
}

.itinerary-card-content {
    margin: 0 0 20px 0;
    /* border: 1px solid #44545E; */
    border-radius: 5px;
    padding: 10px;
}

.detail-itinerary-add {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

.detail-itinerary-add a{
    text-decoration: none;
}

.itinerary-add-btn {
    background-color: #44545E;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    width: fit-content;
}

table {
    width: 100%;
}

table, th, td {
    border: 2px solid #44545E80;
    border-collapse: collapse;
    padding: 0 5px;
    color: #44545E;
}

th {
    height: 30px;
}

td {
    vertical-align: top;
}

.detail-itinerary-edit-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    gap: 5px;
}

.itinerary-edit-delete-btn {
    border: 2px solid #44545E70;
    border-radius: 20px;
    width: 60px;
    background-color: white;
    color: #44545E;
}

.comment-list {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}

.comment-author {
    margin: 5px;
    display: flex;
    align-items: center;
}

.comment-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.comment-list span{
    margin: 0 5px;
    color: #44545E;
}

.comment-create-form {
    display: flex;
    gap: 10px;
    margin: 10px 0;

}

.comment-create-form span {
    color: #44545E;
}

.comment-create-form textarea{
    width: 800px;
    height: 40px;
}

.comment-create-form label {
    display: none;
}

.comment-create-form input {
    height : 25px;
    border: 2px solid #44545E;
    border-radius: 20px;
    width: 60px;
    background-color: white;
    color: #44545E;
}

/* -------------
Check List Update Page 
---------------- */

.checklist-page {
    margin-top: 70px;
    color: #44545E;
}

.checklist-page h1, h2 {
    margin-left: 20px;
}

.is_completed {
    color: #44545E80;
}

.item-content-card {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    background-color: white;
    margin: 4px 10px;
    border-radius: 10px;
    padding: 0 10px;
}

.item-content-card p {
    margin: 10px 0;
}

.checklist-new {
    margin: 0 25px;
}

.checklist-new h3 {
    color: #44545E;
    margin: 30px 0 5px 5px;
}

.create-checklist-form {
    margin: auto auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    background-color: #7B98AA50;
    border-radius: 10px;
    color: #44545E;
}

.create-checklist-form input {
    width: 150px;
    border: 1px solid #44545E50;
    border-radius: 5px;
    height: 20px;
}

.create-checklist-form input[type="submit"] {
    height : 25px;
    border: 2px solid #44545E;
    border-radius: 20px;
    width: 60px;
    background-color: white;
    color: #44545E;
}

#id_priority, #id_category {
    width: 150px;
    border: 1px solid #44545E50;
    border-radius: 5px;
    height: 25px;
}

/* -------------
Create Form 
---------------- */

.form-page {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.form-page-left {
    color: #44545E;
}

.form-page-right {
    text-align: center;
    color: #44545E;
}

/* -------------
Create Form - Destination
---------------- */

.create-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    border: 6px solid #44545E50;   
    border-radius: 40px;
    padding: 25px;
    background-color: #7B98AA70;
    text-align: center;
}

.create-form label {
    font-size: 20px;
    color: #44545E;
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
}

.create-form input, select {
    width: 500px;
    height: 20px;
    border: none;  
    border-radius: 5px;
    padding: 5px;
}

/* input select*/
.create-form select {
    width: 510px;
}

#id_destination, #id_travel, #id_continent {
    height: 30px;
}

#id_destinations, #id_travelers, #id_tags {
    height: 100px;
}

/* travel create tag input */
input#id_tags {
    height: 30px;
}

/* itinerary create page */
.form-page img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50px;
}

.itinerary-card {
    background-color: #CFF2F6;
    border-radius: 10px;
}

.create-form textarea {
    border: none;  
    border-radius: 5px;
    width: 500px;
}

/* input submit button */
.create-form input[type=submit] {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #44545E;
    color: white;
    border-radius: 10px;
    padding: 10px 5px;
    margin: 10px auto;
}

input[type="checkbox"] {
    width: 30px;
}

/* -------------
Comment Edit Form
---------------- */

.comment-edit-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 4px solid #44545E50;   
    border-radius: 10px;
    padding: 25px;
    background-color: #7B98AA70;
    color: #44545E;
}

#id_text {
    height: 30px;
    border: none;  
    border-radius: 5px;
    width: 500px;
}

.comment-edit-form input[type=submit] {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #44545E;
    color: white;
    border-radius: 10px;
    padding: 10px 5px;
    margin: 10px auto;
}

.comment-edit-form label {
    font-size: 20px;
    color: #44545E;
    display: inline-block;
    float: left;
    clear: left;
    width: 50px;
}

.errorlist {
    display: none;
}

button:hover {
    transform: scale(1.1);
}

/* -------------
Delete Confirm Form
---------------- */
.delete-confirm {
    color: #44545E;
    text-align: center;
    margin: auto auto;
}

strong {
    font-size: 25px;
}

.cancel-delete-btn {
    text-align: right;
    margin: 30px 0;
}

.cancel-delete-btn a {
    margin: 0 5px;
}

.cancel-delete-btn input {
    border: none;
    background-color: white;
    color: #44545E;
    text-decoration: underline;
    font-size: 17px;
}

.form-cancel {
    color: #44545E;
    text-align: right;
}

/* -------------
Signup, Login Form
---------------- */

.login-page {
    width: 100%;
    height: 500px;
    position: relative;
}

.login-img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    display: block;
}

.login-form {
    position: absolute;
    margin-top: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    border: 6px solid #44545E50;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-msg {
    padding: 10px;
    color: white;
    width: 300px;
}

.login-create-form {
    display: flex;
    flex-direction: column;
    background-color: #7B98AA70;
    padding: 25px;
    color: #44545E;
}

.login-create-form input {
    width: 250px;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.login-create-form label {
    font-size: 18px;
    margin: 10px 0;
}

.login-create-form input[type=submit] {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #44545E;
    color: white;
    border-radius: 10px;
    padding: 10px 5px;
    margin: 10px auto;
}

.helptext {
    color: #44545E;
    display: block;
    /* margin-top: 5px; */
    margin-bottom: 20px;
    width: 500px;
}

.helptext li {
    font-size: 16px;
}

.frofile-update-form span{
    display: none;
}

#id_password strong {
    display: none;
}