@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Rubik:wght@400;500&family=Ubuntu&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    margin: 5px 50px;
}

p {
    color: #44545E;
}

/* -------------
Navbar
---------------- */

main {
    padding: 50px 30px;
}

nav {
    padding: 15px 10px;
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
    margin: 0 40px;
	background-color: white;
	z-index: 100;
    text-align: center;
}

.nav-left {
    float: left;
}

.nav-center {
    float: center;
}

.nav-right {
    float: right;
}

/* .profile-image {
    margin-right: -30px;
}

.username {
    margin-right: -30px;
} */

nav a {
    text-decoration: none;
    color: #7B98AA;
	letter-spacing: 0.75px;
	letter-spacing: .05rem;
	padding: 3px 30px;
	padding: .2rem 2rem;
	text-transform: uppercase;
    font-weight: 400;
}

nav a:hover {
	color: #44545E;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: -25px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: -25px;
}

.dropdown-btn {
    /* position: relative;
    display: inline-block; */
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: #44545E;
    padding: 12px 6px;
    margin-top: 26px;
    z-index: 1;
}

.dropdown-content a {
    font-size: 15px;
    display: inline;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* -------------
Home Page 
---------------- */
.home-header {
    width: 100%;
    height: 500px;
    position: relative;
    text-align: center;
}

.home-header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
    display: block;
}

.home-header-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color : white;
}

.home-header-text h1 {
    font-size: 40px;
}

.home-header-text h2 {
    font-size: 25px;
}

.home-startplan-btn {
    border: none;
    border-radius: 25px;
    padding: 15px;
    background-color: #CFF2F6;
    color: #44545E;
    font-size: 15px;
    margin-top: 10px;
}

.home-startplan-btn:hover {
    transform : scale(1.2);
    background-color: white;
}

.home-list {
    margin: 100px 100px;
}

.home-list-header {
    text-align: center;
    margin: 30px auto;
    color: #44545E;
    display: flex;
    flex-direction: column;
    align-items: center
}

.home-list-header a{
    color: #44545E;
    align-self: flex-end;
}

.home-list-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.home-destination-card-content {
    min-width: 225px;
    max-width: 300px;
    aspect-ratio: 1 /1;
    height: 360px;
    /* background-color: white; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-destination-card-content a {
    text-decoration: none;
    color: #44545E; 
}

.home-destination-card-img {
    aspect-ratio: 1 /1;
}

.home-destination-img {
    width: 100%;
    height: 100%;
}

.home-destination-card-text {
    padding: 0 10px;
}

.home-travel-card-content {
    min-width: 225px;
    max-width: 300px;
    aspect-ratio: 1 /1;
    height: 380px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-travel-card-content a {
    text-decoration: none;
    color: #44545E;
}

.home-travel-card-img {
    aspect-ratio: 1 /1;
}

.home-travel-img {
    width: 100%;
    height: 100%;
}

.home-travel-card-text {
    padding: 0 10px;
}

@media (max-width:1023px) {
    .home-header {
        height: 400px;
    }

    .home-header-text {
        left: 50%;
    }

    .home-list {
        margin: 100px 50px;
    }
}

@media (max-width:950px) {
    body {
        margin: 5px 0px;
    }

    main {
        padding: 50px 0px;
    }

    nav {
        margin: 0;
    }

    .home-header {
        height: 300px;
    }

    .home-header-text {
        left: 50%;
    }

    .home-header-text h1 {
        font-size: 30px;
    }

    .home-header-text h2 {
        font-size: 20px;
    }

    .home-list {
        margin: 80px 10px;
    }
    .home-list-flex {
        justify-content: center;
    }

    .home-travel-card-content {
        min-width: 250px;

    }
}

@media (max-width:899px) {
    .home-list-flex {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* -------------
List Page Flexbox
---------------- */

.list-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-flex-nav {
    width: 15%;
    margin-top: 50px;
    position: fixed;
    /* padding: 10px 5px 10px 10px;
    border-radius: 5px; */
}

.list-flex-nav-top {
    /* background-color: #CFF2F650; */
    padding: 10px 5px 10px 10px;
    border-radius: 5px;
}

.list-flex-nav h1 {
    margin-bottom: 5px;
    color: #44545E;
}

.list-flex-nav a {
    color: #44545E;
}

.add-btn {
    background-color: #44545E;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
}

.search-travel-input input{
    border: none;
    border-radius: 3px;
    margin: 10px auto;
    height: 20px;
    border: 1px solid #7B98AA50;
}

.list-flex-nav-category ul {
    list-style: none;
    padding-left: 0;
}

.list-flex-nav-category li {
    margin-bottom: 8px;
}

.list-flex-nav-category a {
    text-decoration: none;
}

.list-content {
    display: flex;
    justify-content: center;
    width: 85%;
    padding-left: 15%;
    margin-top: 50px
}

.list-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

/* -------------
Destination List Page 
---------------- */

.destination-card-content {
    min-width: 300px;
    max-width: 300px;
    height: 400px;
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.destination-card-content a {
    text-decoration: none;
    color: #44545E; 
}

.destination-card-img {
    height: 300px;
}

.destination-img {
    width: 100%;
    height: 100%;
}

.destination-card-text {
    padding: 0 10px;
}

/* -------------
Travel List Page 
---------------- */

.travel-card-content {
    min-width: 300px;
    max-width: 300px;
    height: 400px;
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.travel-card-content a {
    text-decoration: none;
    color: #44545E;
}

.travel-card-img {
    height: 300px;
}

.travel-img {
    width: 100%;
    height: 100%;
}

.travel-card-text {
    padding: 0 10px;
}

/* -------------
Profile Page 
---------------- */

.travel-card-img {
    position: relative;
    text-align: center;
}

.profile-travel-card-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-travel-card-text h2 {
    color: white;
}

.travel-card-content:hover .profile-travel-card-text {
    display: block;
}

.travel-card-content:hover .travel-img {
    opacity: 0.8;
}


/* -------------
Destination Detail Page 
---------------- */

.destination-detail-header {
    width: 100%;
    height: 400px;
}

.destination-detail-header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* -------------
Travel Detail Page 
---------------- */

.detail-header {
    width: 100%;
    height: 400px;
    position: relative;
    text-align: center;
}

.detail-header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    /* margin: auto;
    display: block; */
}

.detail-header-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.travel-edit-delete-btn {
    border: 2px solid #44545E;
    border-radius: 20px;
    width: 100px;
    padding: 5px;
    background-color: white;
    color: #44545E;
    margin: auto 5px;
}

.detail-section {
    margin: 30px 100px;
}

.detail-section h2, h3, p {
    color: #44545E;
}

/* .detail-content {
    margin: 30px 100px;
} */

/* .detail-content h2 {
    color: #44545E;
} */

.detail-content p, li {
    font-size: 19px;
    color: #44545E;
}

.checklists {
    display: flex;
    flex-direction: column;
}

.checklist-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.checklist-card-content {
    width: 30%;
    background-color: #CFF2F6;
    border-radius: 10px;
    padding-left: 10px;
}

.checklist-card-content h4 {
    color: #44545E;
}

.checklist-new {
    margin: 0 25px;
}

.checklist-new h4 {
    color: #44545E;
}

.create-checklist-form {
    margin: auto auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    background-color: #7B98AA50;
    border-radius: 10px;
    color: #44545E;
}

.create-checklist-form input {
    width: 150px;
    border: 1px solid #44545E50;
    border-radius: 5px;
    height: 20px;
}

.create-checklist-form input[type="submit"] {
    height : 25px;
    border: 2px solid #44545E;
    border-radius: 20px;
    width: 60px;
    background-color: white;
    color: #44545E;
}

#id_priority, #id_category {
    width: 150px;
    border: 1px solid #44545E50;
    border-radius: 5px;
    height: 25px;
}

.itinerary-card-content {
    margin: 0 0 20px 0;
    /* border: 1px solid #44545E; */
    border-radius: 5px;
    padding: 10px;
}

.detail-itinerary-add {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

.detail-itinerary-add a{
    text-decoration: none;
}

.itinerary-add-btn {
    background-color: #44545E;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    width: fit-content;
}

table {
    width: 100%;
}

table, th, td {
    border: 2px solid #44545E80;
    border-collapse: collapse;
    padding: 0 5px;
    color: #44545E;
}

th {
    height: 30px;
}

td {
    vertical-align: top;
}

.detail-itinerary-edit-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    gap: 5px;
}

.itinerary-edit-delete-btn {
    border: 2px solid #44545E;
    border-radius: 20px;
    width: 60px;
    background-color: white;
    color: #44545E;
}

/* .travel-comment {
    margin: 30px 100px;
} */

/* .travel-comment h2 {
    color: #44545E;
} */

.comment-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-list p{
    margin-top: 0px;
    color: #44545E;
}

.comment-create-form {
    display: flex;
    gap: 10px;
    padding: 0 10px;
}

.comment-create-form span {
    color: #44545E;
}

.comment-create-form textarea{
    width: 800px;
    height: 40px;
}

.comment-create-form label {
    display: none;
}

.comment-create-form input {
    height : 25px;
    border: 2px solid #44545E;
    border-radius: 20px;
    width: 60px;
    background-color: white;
    color: #44545E;
}

/* -------------
Create Form 
---------------- */

.create-page-h1 {
    color: #44545E;
}

.create-form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 4px solid #44545E50;   
    border-radius: 10px;
    padding: 25px;
    background-color: #7B98AA70;
}

.create-form label {
    font-size: 20px;
    color: #44545E;
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
}

.create-form input, select {
    width: 500px;
    height: 20px;
    border: none;  
    border-radius: 5px;
    padding: 5px;
}

.create-form select {
    width: 510px;
}

.create-form textarea {
    border: none;  
    border-radius: 5px;
    width: 500px;
}

.create-form input[type=submit] {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #44545E;
    color: white;
    border-radius: 10px;
    padding: 10px 5px;
    margin: 10px auto;
}

input[type="checkbox"] {
    width: 30px;
}

#id_destination, #id_travel {
    height: 30px;
}

#id_destinations {
    height: 100px;
}

#id_travelers {
    height: 50px;
}

.login-form-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: fit-content;
    margin: auto auto;
}

.login-msg {
    /* background-color: #CFF2F650; */
    padding: 10px;
    border-radius: 10px 0 0 10px;
    color: #44545E;
    width: 300px;
}

.login {
    border-radius: 0 10px 10px 0;
    /* background-color: #CFF2F650; */
}

.login input {
    width: 200px;
}

.login label {
    font-size: 18px;
}


.helptext {
    color: #44545E;
    display: block;
    margin-top: 5px;
    width: 500px;
}

.form-cancel {
    color: #44545E;
    text-align: right;
}

.errorlist {
    display: none;
}

button:hover {
    transform: scale(1.1);
}

/* #id_image a {
    display: inline;
} */

/* #image-clear_id {
    display: inline;
} */


.hide {
    display: none;
}

.show {
    display: block;
}

.is_completed {
    color: #44545E80;
}