{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <title>Travel Planner</title>
  </head>
  <body>
    <nav>
      <!-- <a href="/admin">Admin</a> -->
      <div class="nav-left">
        <a  href="/">Home</a>
      </div>
        <a class="nav-center" href="/destinations">Destinations</a>
        <a class="nav-center" href="/travels">Travels</a>
        {% if user.is_authenticated%}
          <a href="{% url 'profile' user.username %}">My Travel</a>
          <a class="nav-right" href="/logout">Logout</a>
          <div class="nav-right dropdown">
            <a class="nav-right dropdown-btn" href="">Hi, {{user.username}}</a>
            <div class="dropdown-content">
              <a href="{% url 'travel_create' %}">Start Plan</a>
              <a href="{% url 'profile_update' user.pk %}">Profile Setting</a>
            </div>

          </div>
          {% if user.profile_image %}
            <img class="nav-right profile-image" src="{{user.profile_image.url}}" alt="">
          {% else %}
            <img  class="nav-right profile-image" src="{% static 'images/blank-profile-picture.png' %}" alt="">
          {% endif %}
          <a href="/users">Travelers</a>
        {% else %}
          <a class="nav-right" href="/signup">Signup</a>
          <a class="nav-right" href="/login">Login</a>
        {% endif%}

    </nav>

    <main>
      {% block content %}

      {% endblock%}
    </main>

  </body>
</html>