{% extends 'base.html' %}

{% block content %}

    <h1>Destination Detail Page</h1>
        <div class="destination-detail-header">
            <img class="destination-detail-header-img" src="{{destination.img}}" alt="{{destination.city}}">
        </div>
        <div class="destination-detail-content">
            <h2>{{destination.city}}</h2>
            <h3>{{destination.country}}</h3>
            <p>{{destination.description}}</p>
            {% for thing_to_do in destination.things_to_do %}
                <p>{{thing_to_do}}</p>
            {% endfor %}
        </div>
        <div>
            <a href="{% url 'destination_update' destination.id %}"><button>Edit</button></a>
            <a href="{% url 'destination_delete' destination.id %}"><button>Delete</button></a>
        </div>
        <div>
            <a href="{% url 'travel_create' %}">
                <h3>Start Travel Plan</h3>
            </a>
        </div>
        <div>
            <h2>Travels</h2>
            {% for travel in destination.travel_set.all %}
            <div class="travel-card-content">
                <a href="{% url 'travel_detail' travel.pk %}">
                    <div class="travel-card-img">
                        <img class="travel-img" src="{{travel.img}}" alt="{{travel.title}}">
                    </div>
                    <div class="travel-card-text">
                        <h3>{{travel.title}}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div>
            <h2>Itineraries</h2>
            {% for itinerary in destination.itineraries.all %}
                <a href="{% url 'travel_detail' itinerary.travel.pk %}">
                    <p>{{itinerary.travel.title}} Day{{itinerary.day}}</p>
                </a>
            {% endfor %}
        </div>
    
{% endblock %}