{% extends 'base.html' %}

{% block content %}
    <div class="list-flex-container">

        <div class="list-flex-nav">
            <div class="list-flex-nav-top">
                <h1>Destinations</h1>
                <a href="{% url 'destination_create' %}">
                    <p>+ Add new Destination</p>
                </a>
                <div class="search-box">
                    <form class="search-travel">
                        <div class="search-travel-input">
                            <input type="text" name="city" placeholder="">
                            <input type="submit" value="Search">
                        </div>
                    </form>
                    <p>{{header}} ({{destinations|length}})</p>
                    <a href="{% url 'destination_list' %}">Clear Search</a>
                </div>
                <div class="list-flex-nav-category">
                    <ul>
                        <li><a href="{% url 'destination_list' %}">All</a></li>
                        <li><a href="{% url 'destination_list' %}?continent=Antartica" name="continent">Antartica</a></li>
                        <li><a href="{% url 'destination_list' %}?continent=Africa" name="continent">Africa</a></li>
                        <li><a href="{% url 'destination_list' %}?continent=Asia" name="continent">Aisa</a></li>
                        <li><a href="{% url 'destination_list' %}?continent=Europe" name="continent">Europe</a></li>
                        <li><a href="{% url 'destination_list' %}?continent=North America" name="continent">North America</a></li>
                        <li><a href="{% url 'destination_list' %}?continent=Oceania" name="continent">Oceania</a></li>
                        <li><a href="{% url 'destination_list' %}?continent=South America" name="continent">South America</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="list-content">
            <div class="list-flex">
                {% for destination in destinations %}
                <div class="destination-card-content">
                    <a href="{% url 'destination_detail' destination.id %}">
                        <div class="destination-card-img">
                            {% if destination.image %}
                            <img class="destination-img" src="{{destination.image.url}}" alt="{{destination.city}}">
                            {% endif %}
                        </div>
                        <div class="destination-card-text">
                            <h3>{{destination.city}}</h3>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
    
{% endblock %}