{% extends 'base.html' %}

{% block content %}

    <div class="pagetop-nav">
        <a href="{% url 'destination_list' %}">Destinations</a> / <a href="">New Destination</a>
    </div>

    <div class="form-page">
        <div class="form-page-left">
            <h1>New Destination</h1>
        </div>

        <div class="form-page-right">
            <form class="create-form" method="post" enctype = "multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>

{% endblock %}