{% extends 'base.html' %}

{% block content %}

    <h1>Destination Detail Page</h1>
        <div class="destination-detail-header">
            <img class="destination-detail-header-img" src="{{destination.img}}" alt="{{destination.city}}">
        </div>
        <div class="destination-detail-content">
            <h2>{{destination.city}}</h2>
            <h3>{{destination.country}}</h3>
            <p>{{destination.description}}</p>
            {% for thing_to_do in destination.things_to_do %}
                <p>{{thing_to_do}}</p>
            {% endfor %}
        </div>
            

        </div>
        <div>
            <a href="{% url 'destination_update' destination.id %}"><button>Edit</button></a>
            <a href="{% url 'destination_delete' destination.id %}"><button>Delete</button></a>
        </div>
    
{% endblock %}