{% extends 'base.html' %}
{% load cloudinary %}
{% block content %}
    <!-- <h1>Travel Planner Home Page</h1> -->
    <div class="home-header">
        <img class="home-header-img" src="https://images.unsplash.com/photo-1543993454-23889b990266?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3866&q=80" alt="home header img">
        <div class="home-header-text">
            <h1>Plan Your Travel</h1>
            <h2>Start planning travel with your people<br>
                and share the precious memories</h2>
            <a href="{% url 'travel_create' %}"><button class="home-startplan-btn">Start Planning</button></a>
        </div>
    </div>

    <div class="home-list">
        <div class="home-list-header">
            <h2>Destinations</h2>
            <a href="/destinations">view all</a>
        </div>
        <div class="home-list-flex">
            {% for destination in destinations%}
                <div class="home-destination-card-content">
                    <a href="{% url 'destination_detail' destination.id %}">
                        <div class="home-destination-card-img">
                            {% if destination.image %}
                            <img class="home-destination-img" src="{{destination.image.url}}" alt="{{destination.city}}">
                            {% endif %}
                        </div>
                        <div class="home-destination-card-text">
                            <h3>{{destination.city}}</h3>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="home-list">
        <div class="home-list-header">
            <h2>Travels</h2>
            <a href="/travels">view all</a>
        </div>
        <div class="home-list-flex">
            {% for travel in travels%}
                <div class="home-travel-card-content">
                    <a href="{% url 'travel_detail' travel.pk %}">
                        <div class="home-travel-card-img">
                            {% if travel.image %}
                            <img class="home-travel-img" src="{{travel.image.url}}" alt="{{travel.title}}">
                            {% endif %}
                        </div>
                        <div class="home-travel-card-text">
                            <h3>{{travel.title}}</h3>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}