{% extends 'base.html' %}

{% block content %}

<div class="pagetop-nav">
    <a href="{% url 'profile' user.username%}">My Travel</a> / <a href="{% url 'travel_detail' travel.pk %}">{{travel.title}}</a> / <a href="">Edit Itinerary</a>
</div>

<div class="form-page">
    <div class="form-page-left">
        <h1>Itinerary Update</h1>
        <h3>{{travel.title}} ({{travel.departure_date}}~{{travel.return_date}})</h3>
    </div>
    <div class="form-page-right">
        <form class="create-form" method="post" enctype = "multipart/form-data">
            {% csrf_token %}
            {{form.as_table}}
            <input type="submit" value="Submit" />
            <a class="form-cancel" href="{% url 'travel_detail' travel.pk %}">Cancel</a>
        </form>
    </div>
</div>
    
{% endblock %}