{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="list-flex-container">

    <div class="list-flex-nav">
        <div class="list-flex-nav-top">
            <h1>{{user.username}}</h1>
            <a href="{% url 'profile_update' user.pk %}">
                <p>Edit Profile</p>
            </a>
            <p>Travel Plans: {{user.travel_set.all|length}}</p>
            <div class="list-flex-nav-category">
                <ul>
                    {% for tag in tags %}
                        <li><a href="">{{tag}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="list-flex-nav-bottom">
            <a href="{% url 'travel_create' %}">
                <p class="add-btn"> + Start Travel Plan</p>
            </a>
        </div>
    </div>

    <div class="list-content">
        <div class="list-flex">
            {% for travel in user.travel_set.all %}
            <div class="travel-card-content">
                <a href="{% url 'travel_detail' travel.pk %}">
                    <div class="travel-card-img">
                        {% if travel.image %}
                        <img class="travel-img" src="{{travel.image.url}}" alt="{{travel.title}}">
                        {% else %}
                        <img class="travel-img" src="{% static 'images/simon-maage-C9dhUVP-o6w-unsplash.jpg' %}" alt="">
                        {% endif %}
                        <div class="profile-travel-card-text">
                            <h2>{{travel.title}}</h2>
                        </div>
                    </div>

                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>


{% endblock %}