{% extends 'base.html' %}

{% block content %}
    <h1>Travel List Page</h1>
    <form class="search-travel">
        <div>
            <input type="text" name="title" placeholder="">
            <input type="submit" value="Search">
            <a href="{% url 'travel_list' %}">Clear Search</a>
        </div>
    </form>
    
    <p>{{header}} ({{travels|length}})</p>
    <div class="list-grid">
        {% for travel in travels %}
        <div class="travel-card-content">
            <div class="travel-card-img">
                <img class="travel-img" src="{{travel.img}}" alt="{{travel.title}}">
            </div>
            <div class="travel-card-text">
                <h3>{{travel.title}}</h3>
            </div>

        </div>
    {% endfor %}
    </div>
    
{% endblock %}