{% extends 'base.html' %}

{% block content %}

<div class="pagetop-nav">
    <a href="{% url 'travel_list' %}">Travels</a> / <a href="{% url 'travel_detail' travel.pk%}">{{travel.title}}</a> / <a href="">Edit Travel</a>
</div>

    <div class="form-page">
        <div class="form-page-left">
            <h1>Edit your Travel</h1>
        </div>

        <div class="form-page-right">
            <form class="create-form trave-create" method="post" enctype = "multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" />
                <div class="cancel-delete-btn">
                    <a class="form-cancel" href="{% url 'travel_detail' travel.pk %}">Cancel</a>
                    <a class="form-cancel" href="{% url 'travel_delete' travel.pk %}">Delete</a>
                </div>
            </form>
        </div>
    </div>



{% endblock %}