{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}

<div class="pagetop-nav">
    <a href="{% url 'travel_list' %}">Travels</a> / <a href="">{{header}}</a> 
</div>

    <div class="list-flex-container">

        <div class="list-flex-nav">
            <div class="list-flex-nav-top">
                <h1>Travels</h1>
                <div class="search-box">
                    <form class="search-travel">
                        <div class="search-travel-input">
                            <input type="text" name="title" placeholder="">
                            <input type="submit" value="Search">
                        </div>
                    </form>
                    <p>{{header}} ({{travels|length}})</p>
                    <a href="{% url 'travel_list' %}">Clear Search</a>
                </div>
                <div class="list-flex-nav-category">
                    <ul class="tag-ul">
                        <li ><a class="{% if nav == 'All Travels' %} active {% endif %}" href="{% url 'travel_list' %}">All</a></li>
                        {% for tag in tags %}
                            <li><a class="{% if nav == tag.name %} active {% endif %}" href="{% url 'travel_list' %}?tag={{tag}}" name="tag" value="{{tag}}">#{{tag}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="list-flex-nav-bottom">
                <a href="{% url 'travel_create' %}">
                    <p class="add-btn"> + Start Travel Plan</p>
                </a>
            </div>
        </div>

        <div class="list-content">
            <div class="list-flex">
                {% for travel in travels %}
                <div class="destination-card-content">
                    <a href="{% url 'travel_detail' travel.pk %}">
                        <div class="travel-card-img">
                            {% if travel.image %}
                            <img class="travel-img" src="{{travel.image.url}}" alt="{{travel.title}}">
                            {% else %}
                            <img class="travel-img" src="{% static 'images/simon-maage-C9dhUVP-o6w-unsplash.jpg' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="travel-card-text">
                            <h3>{{travel.title}}</h3>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="list-travelers">
            <div class="list-travelers-top">
                <h3>Travelers</h3>
                {% for user in users %}
                    <div class="travelers-card">
                        {% if user.profile_image %}
                            <img class="comment-profile-image" src="{{user.profile_image.url}}" alt="">
                        {% else %}
                            <img class="comment-profile-image" src="{% static 'images/blank-profile-picture.png' %}" alt="">
                        {% endif %}
                        <a href="{% url 'profile' user.username %}">
                            <span>{{user}}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}