{% extends 'base.html' %}
{% load cloudinary %}
{% block content %}

    <div class="pagetop-nav">
        <a href="{% url 'travel_list' %}">Travels</a> / <a href="">New Travel</a>
    </div>

    <div class="form-page">
        <div class="form-page-left">
            <h1>Create New Travel Plan</h1>
        </div>

        <div class="form-page-right">
            <a href="{% url 'destination_create' %}">
                <p>Don't have your destination? Click here to add Destination</p>
            </a>
            <form class="create-form" method="post" enctype = "multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>

{% endblock %}