{% extends 'base.html' %}

{% block content %}

    <h1>Travel Detail Page</h1>
        <div class="detail-header">
            <img class="detail-header-img" src="{{travel.img}}" alt="{{travel.title}}">
            <div class="detail-header-text">
                <h1>{{travel.title}}</h1>
                <h2>{{travel.departure_date}} ~ {{travel.return_date}}</h2>
            </div>
        </div>
        <div class="detail-content">
            <h2>{{travel.title}}</h2>
            <p>Destination:
                {% for destination in travel.destinations.all %}
                    <span>{{destination.city}}</span>
                {% endfor %}
            </p>
            <p>Departure Date: {{travel.departure_date}}</p>
            <p>Return Date: {{travel.return_date}}</p>
            <p>Budget: {{travel.budget}}</p>
            <p>Travelers: 
                {% for traveler in travel.travelers.all %}
                    <span>{{traveler.username}}</span>
                {% endfor %}
            </p>
        </div>
        <div>
            <a href="{% url 'travel_update' travel.pk %}"><button>Edit</button></a>
            <a href="{% url 'travel_delete' travel.pk %}"><button>Delete</button></a>
        </div>
        <div class="detail-itinerary-add">
            <h2>Itinerary</h2>
            <a href="{% url 'itinerary_create' travel.pk %}"><button> + Add Itinerary</button></a>
        </div>
        <div>
            {% for itinerary in travel.itineraries.all %}
            <div class="itinerary-card-content">
                <h3>Day{{itinerary.day}}</h3>
                    <p>Date: {{itinerary.date}}</p>
                    <p>Destination: {{itinerary.destination}}</p>
                    <p>Transportation: {{itinerary.transportation}}</p>
                    <p>Accomodation: {{itinerary.accomodation}}</p>
                    <p>Thinkgs To Do:</p>
                    {% for thing_to_do in itinerary.things_to_do %}
                        <span>{{thing_to_do}}</span>
                    {% endfor %}
                    <p>Meals:</p>
                    {% for meal in itinerary.meals %}
                        <span>{{meal}}</span>
                    {% endfor %}
                    <p>Budget: {{itinerary.daily_budget}}</p>

                <!-- <table>
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Date</th>
                            <th>Transportation</th>
                            <th>Accomodation</th>
                            <th>Things To Do</th>
                            <th>Meals</th>
                            <th>Budget</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p>{{itinerary.day}}</p></td>
                            <td><p>{{itinerary.date}}</p></td>
                            <td><p>{{itinerary.transportation}}</p></td>
                            <td><p>{{itinerary.accomodation}}</p></td>
                            <td>
                                {% for thing_to_do in itinerary.things_to_do %}
                                <p>{{thing_to_do}}</p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for meal in itinerary.meals %}
                                <p>{{meal}}</p>
                            {% endfor %}
                            </td>
                            <td><p>{{itinerary.daily_budget}}</p></td>
                            <td>
                                <div class="detail-itinerary-edit-delete">
                                    <a href="{% url 'itinerary_update' pk=travel.pk itinerary_id=itinerary.id %}"><button>Edit</button></a>
                                    <a href="{% url 'itinerary_delete' pk=travel.pk itinerary_id=itinerary.id %}"><button>Delete</button></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table> -->
                <div class="">
                    <a href="{% url 'itinerary_update' pk=travel.pk itinerary_id=itinerary.id %}"><button>Edit</button></a>
                    <a href="{% url 'itinerary_delete' pk=travel.pk itinerary_id=itinerary.id %}"><button>Delete</button></a>
                </div>
            </div>
        {% endfor %}
        </div>
        <div>
            <h2>Comments</h2>
            {% for comment in travel.comments.all %}
                <p>{{comment.author}}: {{comment.text}}</p>
            {% endfor%}
            <div>
                <h3>Leave a comment</h3>
                <form class="create-form" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Submit" />
                </form>
            </div>

        </div>
        

    </div>
    
{% endblock %}