{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- <h1>Travel Detail Page</h1> -->
        <div class="detail-header">
            {% if travel.image %}
            <img class="detail-header-img" src="{{travel.image.url}}" alt="{{travel.title}}">
            {% else %}
            <img class="detail-header-img" src="{% static 'images/simon-maage-C9dhUVP-o6w-unsplash.jpg' %}" alt="">
            {% endif %}
            <div class="detail-header-text">
                <h1>{{travel.title}}</h1>
                <h2>{{travel.departure_date}} ~ {{travel.return_date}}</h2>
            </div>
        </div>

        <div class="detail-section detail-content">
            <h2>{{travel.title}}</h2>
            <ul>
                <li><p>Destination: {{ travel.destinations.all|join:", "}}</p></li>
                <li><p>Departure Date: {{travel.departure_date}}</p></li>
                <li><p>Return Date: {{travel.return_date}}</p></li>
                <li><p>Budget: {{travel.budget}}</p></li>
                {% if user.is_authenticated and user in travel.travelers.all %}
                <li><p>Travelers: {{ travel.travelers.all|join:", "}}</p></li>
                {% endif %}
                <li><p>Tags: {{ travel.tags.all|join:", "}}</p></li>
            </ul>
            {% if user.is_authenticated and user in travel.travelers.all  %}
            <div>
                <a href="{% url 'travel_update' travel.pk %}"><button class="travel-edit-delete-btn">Edit</button></a>
                <a href="{% url 'travel_delete' travel.pk %}"><button class="travel-edit-delete-btn">Delete</button></a>
            </div>
            {% endif %}
        </div>
        <div class="detail-section checklists">
            <h2>Lists</h2>
            <div class="checklist-edit-delete">

            </div>
            <div class = "checklist-container">
                <div class = "checklist-card-content">
                    <h4>Check List</h4>
                    <ul>
                        {% for item in check_list %}
                            {% if item.is_completed == False %}
                                <li>{{item}} {% if item.due_date%}({{item.due_date}}){% endif %}{% if item.priority == "High" %}❗️{% elif item.priority == "Medium" %}🔸{% elif item.priority == "Low" %}🔹{% endif %}</li>
                                <a href="{% url 'is_completed' pk=travel.pk item_id=item.id %}">Done</a>
                            {% else %}
                            <li class="is_completed">{{item}} {% if item.due_date%}({{item.due_date}}){% endif %}{% if item.priority == "High" %}❗️{% elif item.priority == "Medium" %}🔸{% elif item.priority == "Low" %}🔹{% endif %}</li>
                            <a href="{% url 'is_not_done' pk=travel.pk item_id=item.id %}">To do</a>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class = "checklist-card-content">
                    <h4>To Do List</h4>
                    <ul>
                        {% for item in todo_list %}
                            {% if item.is_completed == False %}
                                <li>{{item}} {% if item.due_date%}({{item.due_date}}){% endif %}{% if item.priority == "High" %}❗️{% elif item.priority == "Medium" %}🔸{% elif item.priority == "Low" %}🔹{% endif %}</li>
                                <a href="{% url 'is_completed' pk=travel.pk item_id=item.id %}">Done</a>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class = "checklist-card-content">
                    <h4>Packing List</h4>
                    <ul>
                        {% for item in packing_list %}
                            {% if item.is_completed == False %}
                                <li>{{item}} {% if item.due_date%}({{item.due_date}}){% endif %}{% if item.priority == "High" %}❗️{% elif item.priority == "Medium" %}🔸{% elif item.priority == "Low" %}🔹{% endif %}</li>
                                <a href="{% url 'is_completed' pk=travel.pk item_id=item.id %}">Done</a>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="checklist-new">
                <h4>+ Add list</h4>
                <!-- <h3>Leave a comment</h3> -->
                <form class="create-checklist-form" method="post">
                    {% csrf_token %}
                    {{list_form.as_p}}
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>

        <div class="detail-section itinerary">
            <div class="detail-itinerary-add">
                <h2>Itinerary</h2>
                {% if user.is_authenticated and user in travel.travelers.all  %}
                <a href="{% url 'itinerary_create' travel.pk %}"><button class="itinerary-add-btn"> + Add Itinerary</button></a>
                {% endif %}
            </div>
            <div class="itinerary-list">
                {% for itinerary in travel.itineraries.all %}
                <div class="itinerary-card-content">
                    <!-- <h3>Day{{itinerary.day}}</h3>
                        <p>Date: {{itinerary.date}}</p>
                        <p>Destination: {{itinerary.destination}}</p>
                        <p>Transportation: {{itinerary.transportation}}</p>
                        <p>Accomodation: {{itinerary.accomodation}}</p>
                        <p>Thinkgs To Do:</p>
                        {% for thing_to_do in itinerary.things_to_do %}
                            <span>{{thing_to_do}}</span>
                        {% endfor %}
                        <p>Meals:</p>
                        {% for meal in itinerary.meals %}
                            <span>{{meal}}</span>
                        {% endfor %}
                        <p>Budget: {{itinerary.daily_budget}}</p> -->
    
                    <table>
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Date</th>
                                <th>Transportation</th>
                                <th>Accomodation</th>
                                <th>Things To Do</th>
                                <th>Meals</th>
                                <th>Budget</th>
                                {% if user.is_authenticated and user in travel.travelers.all  %}
                                <th></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><p>{{itinerary.day}}</p></td>
                                <td><p>{{itinerary.date}}</p></td>
                                <td><p>{{itinerary.transportation}}</p></td>
                                <td><p>{{itinerary.accomodation}}</p></td>
                                <td>
                                    {% for thing_to_do in itinerary.things_to_do %}
                                    <p>{{thing_to_do}}</p>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for meal in itinerary.meals %}
                                    <p>{{meal}}</p>
                                {% endfor %}
                                </td>
                                <td><p>{{itinerary.daily_budget}}</p></td>
                                {% if user.is_authenticated and user in travel.travelers.all  %}
                                <td>
                                    <div class="detail-itinerary-edit-delete">
                                        <a href="{% url 'itinerary_update' pk=travel.pk itinerary_id=itinerary.id %}"><button class="itinerary-edit-delete-btn">Edit</button></a>
                                        <a href="{% url 'itinerary_delete' pk=travel.pk itinerary_id=itinerary.id %}"><button class="itinerary-edit-delete-btn">Delete</button></a>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="">
                        <a href="{% url 'itinerary_update' pk=travel.pk itinerary_id=itinerary.id %}"><button>Edit</button></a>
                        <a href="{% url 'itinerary_delete' pk=travel.pk itinerary_id=itinerary.id %}"><button>Delete</button></a>
                    </div> -->
                </div>
            {% endfor %}
            </div>
        </div>
        
        <div class="detail-section travel-comment">
            <h2>Comments</h2>
            {% for comment in travel.comments.all %}
                <div class="comment-list">
                    <p>{{comment.author}}: {{comment.text}}</p>
                    {% if user.is_authenticated and user == comment.author %}
                    <a class="comment-edit-delete" href="{% url 'comment_update_delete' pk=travel.pk comment_id=comment.id %}"><button>Edit / Delete Comment</button></a>
                    {%endif%}
                </div>               
            {% endfor%}

            <!-- {% if user.is_authenticated%} -->
            <div class="comment-new">
                <!-- <h3>Leave a comment</h3> -->
                <form class="comment-create-form" method="post">
                    <span>{{user.username}}</span>
                    {% csrf_token %}
                    {{comment_form.as_table}}
                    <input type="submit" value="Submit" />
                </form>
            </div>
            <!-- {%endif%} -->
        </div>

    </div>
    
{% endblock %}